<template>
  <div
    class="cities-auto featherlight"
    v-bind:class="className">
    <div class="cities-auto__wrap featherlight-content m-center">
      <template v-if="city">
        <div class="cities-auto__wrap-info">
          <span v-on:click="setUnsettled">{{ city }}</span>
          <div>Это ваш город?</div>
        </div>
        <div class="cities-auto__wrap-actions">
          <span
            class="cities-auto__wrap-action cities-auto__wrap-action__wide"
            v-on:click="setUnsettled">
            Выбрать другой
          </span>
          <span
            class="cities-auto__wrap-action cities-auto__wrap-action__bold"
            v-on:click="applyAuto(!params.redirect, true)"
          >
            Правильно
          </span>
        </div>
      </template>
      <template v-else>
        <div class="cities-auto__wrap-info">
          <span>Россия</span>
          <div>Не удалось определить город</div>
        </div>
        <div class="cities-auto__wrap-actions">
          <span
            class="cities-auto__wrap-action cities-auto__wrap-action__mobile"
            v-on:click="close()">
            Оставить так
          </span>
          <span
            class="cities-auto__wrap-action cities-auto__wrap-action__bold"
            v-on:click="setUnsettled">
            Выбрать город
          </span>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import cookiesUtils from '../../utils/cookies.js';

export default {
  props: {
    opener: {
      type:     HTMLElement,
      required: true,
    },

    value: {
      type:     Boolean,
      required: true,
    },

    params: {
      type:     Object,
      required: true,
    },

    isLoading: {
      type:     Boolean,
      required: true,
    },
  },

  data() {
    return {
      city:      null,
      className: this.getClassName(),
    };
  },

  emits: ['set-city', 'set-unsettled', 'input'],

  created() {
    $(window).on('resize', () => {
      this.className = this.getClassName();
    });
  },

  methods: {
    applyAuto(safe = false, close = false) {
      this.$emit('set-city', { ...this.res, safe });
      if (close) {
        this.$emit('input', false);
      }
    },

    setUnsettled() {
      this.$emit('set-unsettled');
      this.$emit('input', false);
    },

    close() {
      this.$emit('input', false);
    },

    open() {
      this.res = {};

      if (!this.popup) {
        this.popup = new Sunlight.NewSlideFromBottomPopup(this.$el, {
          close: () => {
            this.close();
          },
          freeze: false,
        });
      }

      $.when(Sunlight.popupLoader.loadCSS(), Sunlight.loadFoldedCSS())
        .done(async () => {
          const detectResponse = await Sunlight.modules.regions.detectCity({ save: false });

          this.popup.open();
          this.res = detectResponse;
          this.city = detectResponse.default ? null : detectResponse.name;

          // todo: move logic to vue
          // eslint-disable-next-line vue/no-mutating-props
          this.opener.innerHTML = detectResponse.name;
          if (!detectResponse.default) {
            this.applyAuto(true, false);
          }

          cookiesUtils.setPopupShownCookiesForALongTime();
        })
        .fail(cookiesUtils.setPopupShownCookiesForAShortTime);
    },

    isMobileVersion() {
      return window.matchMedia('(max-width: 1000px)').matches;
    },

    getClassName() {
      return this.isMobileVersion() ? 'cities-auto__popup__mobile' : '';
    },
  },

  watch: {
    value: {
      handler(val) {
        if (!val) {
          return this.popup && this.popup.close();
        }
        this.open();
      },
      immediate: true,
    },
  },
};
</script>
