<template>
  <!-- eslint-disable vue/no-deprecated-v-on-native-modifier -->
  <div class="featherlight cities-popup">
    <div class="featherlight-content m-center">
      <span class="popup-close js-popup-close" />
      <div class="featherlight-inner">
        <div class="cities-popup__inner">
          <CitiesSearch v-on:set-city="setCity" />
          <div
            class="cities-popup__auto-check__mobile"
            v-bind:class="{
              'cities-popup__auto-check__mobile-with-shadow': allCitiesAreScrolling,
            }"
          >
            <span
              v-on:click="autoCheck()"
              class="cities-popup__auto-check__mobile-text"
              v-bind:class="autoCheckClass">
              {{ autoCheckText }}
            </span>
          </div>
          <CitiesList
            v-bind:popular-columns="popularColumns"
            v-bind:all-columns="allColumns"
            v-bind:title="title"
            v-bind:all-cities-are-showed="allCitiesAreShowed"
            v-bind:is-loading="isLoading"
            v-on:set-city="setCity"
            v-on:animation-has-ended="centering"
            v-on:scroll.native="onAllCitiesAreScrolling"
          />
          <div class="cities-popup__actions">
            <span
              class="cities-popup__show-all"
              v-on:click="toggleShowAllCities()">
              <template v-if="allCitiesAreShowed">Оставить только крупные</template>
              <template v-else>Показать все города</template>
            </span>
            <div class="cities-popup__auto-check">
              <span
                v-on:click="autoCheck()"
                class="cities-popup__auto-check-text"
                v-bind:class="autoCheckClass">
                {{ autoCheckText }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import splitArrayIntoChunks from '../../utils/chunks.js';
import CitiesList from '../CitiesList.vue';
import CitiesSearch from '../CitiesSearch.vue';

const POPULAR_CITIES_COUNT = 15;
const COLUMNS_COUNT = 3;

export default {
  components: {
    CitiesSearch,
    CitiesList,
  },

  props: {
    cityName: {
      type:     String,
      required: true,
    },

    value: {
      type:     Boolean,
      required: true,
    },

    params: {
      type:     Object,
      required: true,
    },

    isLoading: {
      type:     Boolean,
      required: true,
    },
  },

  emits: ['set-city', 'close-cities-popup', 'input'],

  autoCheckTexts: {
    default:      'Определить город автоматически',
    progressText: 'Идет определение города...',
    doneText:     'Определение города завершено',
    errorText:    'Город не определен',
  },

  data() {
    return {
      title:                 '',
      popularColumns:        [],
      allColumns:            [],
      autoCheckText:         this.$options.autoCheckTexts.default,
      autoCheckLoading:      false,
      isAutoCheckDone:       false,
      isAutoCheckError:      false,
      allCitiesAreShowed:    false,
      cityNameInner:         this.cityName,
      allCitiesAreScrolling: false,
    };
  },

  watch: {
    value: {
      handler(val) {
        if (!val) {
          return this.popup && this.popup.close();
        }
        if (!this.popup) {
          $.when(Sunlight.popupLoader.loadCSS(), Sunlight.loadFoldedCSS()).done(() => {
            this.popup = new Sunlight.NewSlideFromBottomPopup(this.$el, {
              close: () => {
                this.$emit('input', false);
                Sunlight.pubsub.emit('regions-popup:closed');
              },
            });
            this.popup.open();
          });
          return;
        }
        this.popup.open();
      },
      immediate: true,
    },
  },

  methods: {
    onAllCitiesAreScrolling(e) {
      this.allCitiesAreScrolling = e.target.scrollTop !== 0;
    },

    toggleShowAllCities() {
      this.allCitiesAreShowed = !this.allCitiesAreShowed;
    },

    setCity(params) {
      this.$emit('set-city', params);
    },

    async autoCheck() {
      if (this.isLoading || this.autoCheckLoading || this.isAutoCheckDone || this.isAutoCheckError) {
        return;
      }

      this.autoCheckLoading = true;
      this.autoCheckText = this.$options.autoCheckTexts.progressText;

      try {
        const city = await Sunlight.modules.regions.detectCity({ force: true, safe: false });

        this.isAutoCheckDone = true;
        this.autoCheckText = this.$options.autoCheckTexts.doneText;
        this.cityNameInner = city.name;
      } catch (e) {
        this.isAutoCheckError = true;
        this.autoCheckText = this.$options.autoCheckTexts.errorText;
      }

      this.autoCheckLoading = false;
    },

    centering() {
      if (!this.popup) {
        return;
      }

      this.popup.centering();
    },
  },

  computed: {
    autoCheckClass() {
      if (this.isAutoCheckDone) {
        return 'm-done';
      }

      if (this.isAutoCheckError) {
        return 'm-error';
      }

      return '';
    },
  },

  created() {
    const regions = Sunlight.modules.regions.getRegions();
    const outletCnt = regions.reduce((memo, r) => {
      return memo + parseInt(r.count, 10);
    }, 0);
    const outletEnd = Sunlight.getNounForNumber(outletCnt, '', 'а', 'ов');
    const cityCnt = regions.length;
    const cityEnd = Sunlight.getNounForNumber(cityCnt, 'е', 'ах', 'ах');
    const popularRegions = [].concat(regions).sort((a, b) => {
      const transformToInt = (region) => {
        return (region.is_main ? 1 : 0) * 1000000 + parseInt(region.count, 10);
      };

      return transformToInt(b) - transformToInt(a);
    });

    this.title = `${outletCnt} магазин${outletEnd} в ${cityCnt} город${cityEnd}`;
    this.allColumns = splitArrayIntoChunks(regions, COLUMNS_COUNT);
    this.popularColumns = splitArrayIntoChunks(popularRegions.slice(0, POPULAR_CITIES_COUNT), COLUMNS_COUNT);
  },
};
</script>
