<template>
  <!-- eslint-disable vue/no-deprecated-v-on-native-modifier -->
  <div
    class="cities-popup__list"
    v-bind:class="{ 'cities-popup__list__opened': allCitiesAreShowed }">
    <CitiesColumns
      type="top-mobile"
      v-show="!allCitiesAreShowed"
      v-bind:columns="[this.popularMobileRegions]"
      v-bind:is-loading="isLoading"
      v-on:set-city="setCity"
    />
    <div
      class="cities-popup__title"
      v-bind:class="{
        'cities-popup__title__shadow': allCitiesAreScrolling,
      }"
    >
      {{ title }}
    </div>
    <transition
      name="fade"
      v-on:enter="topCitiesTransitionEnter"
      v-on:after-leave="afterTopCitiesTransitionLeave">
      <CitiesColumns
        type="top"
        v-show="topCitiesAreShowedInner"
        v-bind:columns="popularColumns"
        v-bind:is-loading="isLoading"
        v-on:set-city="setCity"
      />
    </transition>
    <transition
      name="fade"
      v-on:enter="allCitiesTransitionEnter"
      v-on:after-leave="afterAllCitiesTransitionLeave">
      <CitiesColumns
        type="all"
        v-show="allCitiesAreShowedInner"
        v-bind:show-first-letter="true"
        v-bind:columns="allColumns"
        v-bind:is-loading="isLoading"
        v-on:set-city="setCity"
        v-on:scroll.native="onScroll"
      />
    </transition>
  </div>
</template>

<script>
import CitiesColumns from './CitiesColumns.vue';

export default {
  props: {
    popularColumns: {
      type:    Array,
      default: () => {
        return [[]];
      },
    },

    allColumns: {
      type:    Array,
      default: () => {
        return [[]];
      },
    },

    allCitiesAreShowed: {
      type:     Boolean,
      required: true,
      default:  false,
    },

    title: {
      type:     String,
      required: true,
    },

    isLoading: {
      type:     Boolean,
      required: true,
    },
  },

  emits: ['set-city', 'animation-has-ended', 'scroll'],

  components: {
    CitiesColumns,
  },

  data() {
    return {
      popularMobileRegions:    this.popularColumns[0].slice(0, 5),
      allCitiesAreShowedInner: this.allCitiesAreShowed,
      topCitiesAreShowedInner: !this.allCitiesAreShowed,
      allCitiesAreScrolling:   false,
    };
  },

  methods: {
    setCity(params) {
      this.$emit('set-city', params);
    },

    topCitiesTransitionEnter() {
      this.$emit('animation-has-ended');
    },

    afterTopCitiesTransitionLeave() {
      this.allCitiesAreShowedInner = true;
    },

    allCitiesTransitionEnter(el) {
      this.allCitiesAreScrolling = el.scrollTop !== 0;
      this.$emit('animation-has-ended');
    },

    afterAllCitiesTransitionLeave() {
      this.topCitiesAreShowedInner = true;
    },

    onScroll(event) {
      this.allCitiesAreScrolling = event.target.scrollTop !== 0;
    },
  },

  watch: {
    allCitiesAreShowed(val) {
      if (val) {
        this.topCitiesAreShowedInner = false;
      } else {
        this.allCitiesAreShowedInner = false;
      }
      this.allCitiesAreScrolling = false;
    },
  },
};
</script>
