<template>
  <!-- eslint-disable vue/no-v-for-template-key-on-child -->
  <!-- eslint-disable vue/no-deprecated-v-on-native-modifier -->
  <div
    class="cities-popup__list-block"
    v-bind:class="`cities-popup__list-block__${type}`">
    <ul
      v-for="(column, index) in columns"
      v-bind:key="index"
      class="cities-popup__list-columns">
      <template v-for="city in column">
        <li
          v-bind:key="`${city.id}-letter`"
          v-if="showFirstLetter && city.name[0] !== getCurrentLetter() && setCurrentLetter(city.name[0])"
          class="cities-popup__list-column-item cities-popup__list-column-item__letter"
        >
          {{ getCurrentLetter() }}
        </li>
        <li
          class="cities-popup__list-column-item"
          v-bind:key="`${city.id}-item`">
          <City
            v-bind="city"
            v-bind:is-loading="currentlyLoadedCity === city"
            v-on:click.native="setCity(city)" />
        </li>
      </template>
    </ul>
  </div>
</template>

<script>
import City from './City.vue';

export default {
  props: {
    columns: {
      type:     Array,
      required: true,
    },

    showFirstLetter: {
      type:    Boolean,
      default: false,
    },

    type: {
      type:     String,
      required: true,
    },

    isLoading: {
      type:     Boolean,
      required: true,
    },
  },

  components: {
    City,
  },

  emits: ['set-city'],

  data() {
    return {
      currentlyLoadedCity: null,
    };
  },

  watch: {
    isLoading(isLoadingValue) {
      if (!isLoadingValue) {
        this.currentlyLoadedCity = null;
      }
    },
  },

  methods: {
    setCity(city) {
      this.currentlyLoadedCity = city;
      this.$emit('set-city', city);
    },

    setCurrentLetter(letter) {
      this.currentLetter = letter;
      return true;
    },

    getCurrentLetter() {
      return this.currentLetter;
    },
  },

  created() {
    this.currentLetter = '';
  },
};
</script>
