<template>
  <div class="cities-popup-search">
    <transition name="fade">
      <div
        v-show="value"
        class="cities-popup-search__close"
        v-on:click="clearInput" />
    </transition>
    <input
      type="text"
      class="cities-popup-search__search-field"
      v-model="value"
      ref="input"
      v-bind:class="{ 'm-loading': isLoading, 'm-valid': isInputValid }"
      placeholder="Найдите свой город"
    />
  </div>
</template>

<script>
export default {
  emits: ['set-city'],

  data() {
    return {
      fiasId:       null,
      isLoading:    false,
      isInputValid: false,
      value:        '',
    };
  },

  methods: {
    submitForm() {
      if (!this.fiasId) {
        return;
      }
      if (this.isLoading) {
        return;
      }

      this.$emit('set-city', {
        fiasId: this.fiasId,
        name:   this.value,
        safe:   false,
      });
    },

    clearInput() {
      this.value = '';
    },
  },

  mounted() {
    $(this.$refs.input).autocomplete({
      serviceUrl:   `${window.SUNLIGHT.API_URL}/v3/cities/suggestions/`,
      ajaxSettings: {
        dataType:  'json',
        xhrFields: {
          withCredentials: true,
        },
      },

      deferRequestBy:            155,
      paramName:                 'q',
      minChars:                  2,
      preventBadQueries:         true,
      triggerSelectOnValidInput: false,
      showNoSuggestionNotice:    true,
      autoSelectFirst:           false,
      noSuggestionNotice:        'Не найдено',
      appendTo:                  this.$refs.input.parentElement,

      onSearchStart() {
        this.isLoading = true;
      },

      onSearchComplete() {
        this.isLoading = false;
      },

      formatResult(suggestion, currentValue) {
        if (!currentValue) {
          return suggestion.name;
        }
        const pattern = `(${currentValue.trim().replace(/[|\\{}()[\]^$+*?.]/g, '\\$&')})`;

        let val = suggestion.name
          .replace(new RegExp(pattern, 'i'), '<strong>$1</strong>')
          .replace(/&/g, '&amp;')
          .replace(/</g, '&lt;')
          .replace(/>/g, '&gt;')
          .replace(/"/g, '&quot;')
          .replace(/&lt;(\/?strong)&gt;/g, '<$1>');

        if (suggestion.info) {
          val += ` <span>${suggestion.info}</span>`;
        }

        return val;
      },

      transformResult(data) {
        if (data.status.code !== 200) {
          return {
            suggestions: [],
          };
        }

        return {
          suggestions: data.content.suggestions.map((obj) => {
            return {
              value:   obj.name,
              name:    obj.name,
              fias_id: obj.fias_id,
              info:    obj.info,
            };
          }),
        };
      },

      onSelect: (suggestion) => {
        this.fiasId = suggestion.fias_id;
        this.value = suggestion.name;
        this.isInputValid = true;
      },

      onInvalidateSelection: () => {
        this.fiasId = null;
        this.isInputValid = false;
      },

      onHide: () => {
        this.$nextTick(this.submitForm);
      },
    });
  },
};
</script>
