<template>
  <span
    v-bind:class="{ 'm-loading': isLoading }"
    class="cities-popup__list-link">
    <span>{{ name }}</span
    >&nbsp;<i>{{ count }}</i>
  </span>
</template>
<script>
export default {
  emits: ['click'],

  inheritAttrs: false,

  props: {
    name:      { type: String, required: true },
    count:     { type: Number, required: true },
    isLoading: {
      type:    Boolean,
      default: false,
    },
  },
};
</script>
