<template>
  <div>
    <CitiesPopup
      v-on:set-city="setCity"
      v-bind:city-name="cityName"
      v-bind:params="params"
      v-bind:is-loading="isLoading"
      v-model="isCitiesPopupShown"
    />
    <AutoCityPopup
      v-on:set-unsettled="openCitiesPopup"
      v-bind:opener="$options.opener"
      v-bind:params="params"
      v-bind:is-loading="isLoading"
      v-model="isAutoPopupShown"
      v-on:set-city="setCity"
    />
  </div>
</template>

<script>
import AutoCityPopup from './components/popups/AutoCityPopup.vue';
import CitiesPopup from './components/popups/CitiesPopup.vue';
import cookiesUtils from './utils/cookies.js';

export default {
  props: {
    value: {
      type:     Boolean,
      required: true,
    },

    params: {
      type:     Object,
      required: true,
    },
  },
  emits: ['input'],

  data() {
    return {
      isCitiesPopupShown: false,
      isAutoPopupShown:   false,
      cityName:           Sunlight.modules.regions.getCityFromCookies().name,
      isLoading:          false,
    };
  },

  components: {
    AutoCityPopup,
    CitiesPopup,
  },

  opener: document.getElementById('header-address'),

  computed: {
    popupsState() {
      return this.isCitiesPopupShown || this.isAutoPopupShown;
    },
  },

  watch: {
    value: {
      handler(val) {
        if (val) {
          return this.open();
        }
        this.close();
      },
      immediate: true,
    },

    popupsState(val) {
      this.$emit('input', val);
    },
  },

  methods: {
    async setCity({ fiasId, name, safe = !this.params.redirect }) {
      if (name) {
        this.$options.opener.innerHTML = name;
        this.cityName = name;
      }

      this.isLoading = true;
      await Sunlight.modules.regions.setCity(
        {
          fiasId,
        },
        safe,
      );
      this.isLoading = false;
      this.isCitiesPopupShown = false;
    },

    openCitiesPopup() {
      this.isAutoPopupShown = false;
      this.isCitiesPopupShown = true;
    },

    open() {
      if (Sunlight.modules.regions.subdomainHasChanged() || !cookiesUtils.hasCookies) {
        this.isAutoPopupShown = true;
        this.isCitiesPopupShown = false;
        return;
      }

      this.isAutoPopupShown = false;
      this.isCitiesPopupShown = true;
    },

    close() {
      this.isCitiesPopupShown = false;
      this.isAutoPopupShown = false;
    },
  },
};
</script>
