/*stylelint-disable*/
@import '../../shop/scss/utilites';
@import '../../shop/scss/constants';

@include insert-loader-keyframe-animations();

@keyframes animate-auto-popup {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@media all and (min-width: $switch-from-mobile-width-3) {
  body:not(.sl-supreme-checkout) .featherlight.cities-auto {
    width: 320px;
    top: 38px;
    left: $default-corners-margin;
  }

  body.sl-sticky-header .featherlight.cities-auto {
    display: none !important;
  }

  body:not(.sl-supreme-checkout) .featherlight .cities-auto__wrap.featherlight-content {
    animation: animate-auto-popup 0.8s cubic-bezier(0.17, 0.67, 0.59, 0.96) 0.5s;
    top: 0 !important;
  }
}

.featherlight.cities-auto {
  background: transparent;
  bottom: auto;
  height: auto;
  overflow: visible;

  .featherlight-overlay {
    display: none;
  }
}

.featherlight .cities-auto {
  &__wrap {
    &.featherlight-content {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background: $white-color url(make-absolute-path('images/cities-popup/pin.png')) center 20px no-repeat;
      margin: 5px 0 0;
      opacity: 1;
      padding: 50px 0 0;
      text-align: center;
    }

    &-info {
      div {
        font-size: 18px;
        margin: 0 0 5px;
      }

      span {
        color: $black-color;
        cursor: pointer;
        font-family: $futura-demi-font-family;
        font-size: 24px;
      }
    }

    &-actions {
      display: flex;
      font-size: 16px;
      letter-spacing: 0.5px;
      margin: 35px 0 0;
    }

    &-action {
      cursor: pointer;
      height: 48px;
      line-height: 48px;
      text-align: center;
      transition: $default-color-transition, $default-bg-transition, line-height 0.3s ease-out;
      white-space: nowrap;
      flex: 1 0 0;

      &:hover {
        color: $red-color;
      }

      &:active {
        line-height: 50px;
      }

      &__wide {
        flex: 1.2 0 0;
      }

      &__bold {
        font-family: $futura-demi-font;
      }
    }
  }
}

@media all and (max-width: $switch-to-mobile-width) {
  .featherlight.cities-auto {
    bottom: 0;
    left: 0;
    position: fixed;
    top: auto;
    width: 100%;
  }

  .featherlight .cities-auto {
    &__wrap {
      animation-name: none;
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0 !important;
      width: 100%;

      &-action {
        height: 36px;
        line-height: 36px;
        border-radius: 10px;
        font-size: 16px;
        display: inline-block;
        padding: 0 15px;
        margin: 5px;

        &__bold {
          background: $black-color;
          color: $white-color;
          font-family: $futura-bookc-regular-font-family;
        }

        &__wide {
          border: 1px solid $black-color;
        }
      }

      &-actions {
        display: block;
        min-width: 304px;
        max-width: 360px;
        margin: 0 auto;
        padding: 12px 12px 12px;
      }

      &-info {
        span {
          font-size: 18px;

          &:before {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(make-absolute-path('images/cities-popup/pin.png')) center no-repeat;
            content: '';
            vertical-align: middle;
            margin-right: 3px;
            position: relative;
            top: -2px;
          }
        }

        div {
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 0;
        }
      }

      &.featherlight-content {
        margin: 0 8px 8px !important;
        padding-top: 14px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        background: $white-color;
        width: calc(100% - 16px);
        max-width: 450px;
      }
    }
  }
}
