/*stylelint-disable*/
@import '../../shop/scss/utilites';
@import '../../shop/scss/constants';

@include insert-loader-keyframe-animations();

%with-shadow {
  position: relative;

  &:after {
    content: '';
    display: block;
    overflow: hidden;
    bottom: 0;
    position: absolute;
    height: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    transition: transform 0.1s ease-out;
    transform-origin: top;
    transform: scaleY(0);
  }

  &__shadow {
    &:after {
      transform: scaleY(1);
    }
  }
}

.cities-popup {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  &.featherlight .featherlight-content {
    background: $white-color;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: $black-color;
    font-size: 14px;
    height: auto !important;
    line-height: 1;
    overflow: hidden;
    width: 560px;
    z-index: 100;
  }

  &__inner {
    height: 100%;
    overflow: auto;
    padding: 50px 35px;
    position: relative;
    text-align: left;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  .popup-close {
    background: url(make-absolute-path('images/icons/close02.svg')) no-repeat center;
    background-size: 20px 20px;
    cursor: pointer;
    height: 45px;
    position: fixed;
    right: 0;
    top: 0;
    width: 45px;
    z-index: 1;
  }

  .cities-popup-close {
    position: fixed;
  }

  &__show-all {
    border: 1px solid $black-color;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
    transition: transform 0.3s ease-out;
    white-space: nowrap;
    z-index: 2;

    &:hover {
      color: $black-color;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  .popup-close {
    position: absolute;
  }

  .cities-popup-search {
    &__search-field {
      color: $grey-color-18;
      display: block;
      transition: $default-color-transition;
      width: 100%;

      &:focus {
        color: $black-color;
      }
    }
  }

  .cities-popup-list {
    overflow: hidden;

    &__column {
      flex: 1 0 0;
    }
  }
}

.cities-popup-search {
  position: relative;

  &__close {
    position: absolute;
    right: 16px;
    top: 16px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: $grey-color-6 url(make-absolute-path('images/close-white02.svg')) center no-repeat;
    background-size: 10px 10px;
    z-index: 11;
    cursor: pointer;
  }

  &__search-field {
    border: 1px solid $black-color;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    height: 55px;
    line-height: 55px;
    letter-spacing: 0.16px;
    margin-bottom: 50px;
    padding: 1px 15px;
    position: relative;
    width: 90%;
    z-index: 10;

    &:focus {
      border-width: 2px;
      padding: 0 14px;
    }
  }

  .autocomplete-suggestions {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    left: 0;
    max-height: none !important;
    position: absolute;
    top: 100%;
    z-index: 5 !important;

    .autocomplete-suggestion {
      font-size: 18px;
      line-height: 14px;
      padding: 9px 15px 8px;
      transition: $default-color-transition, $default-color-transition;
      white-space: normal;

      &.autocomplete-selected {
        background-color: $white-color-2;
        color: $black-color;

        span {
          color: $black-color;
        }
      }

      span {
        color: $grey-color-18;
        display: block;
        font-size: 14px;
        margin: 6px 0 0;
        transition: $default-color-transition;
      }

      strong {
        color: $black-color;
        font-family: $futura-demi-font-family;
      }
    }

    .autocomplete-no-suggestion {
      font-size: 18px;
      padding: 10px;
    }
  }
}

.cities-popup__auto-check {
  background: url(make-absolute-path('images/cities-popup/pin.png')) no-repeat left center;
  line-height: 40px;

  &-text {
    cursor: pointer;
    font-size: 16px;
    padding-left: 30px;
    transition: $default-color-transition;

    &:hover {
      color: $red-color;
    }

    &.m-done,
    &.m-error {
      cursor: default;
      pointer-events: none;
    }
  }

  &__mobile {
    @extend %with-shadow;
    display: none;
    padding-bottom: 34px;
    text-align: center;
    white-space: normal;

    &:after {
      left: -$paddings-16;
      right: -$paddings-16;
    }

    &-text {
      background: url(make-absolute-path('images/cities-popup/arrow.svg')) left center no-repeat;
      font-size: 18px;
      padding-left: 20px;
    }

    &-with-shadow {
      @extend %with-shadow__shadow;
    }
  }
}

.cities-popup__title {
  @extend %with-shadow;
  font-family: $futura-demi-font-family;
  font-size: 24px;
  white-space: normal;
  padding: 0 15px 33px;
  z-index: 3;
  margin-bottom: -10px;

  &:after {
    left: -35px;
    right: -35px;
  }

  &__shadow {
    @extend %with-shadow__shadow;
  }
}

.cities-popup__list {
  height: auto;
  overflow: visible;
  position: relative;

  &__opened {
    &:after {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white-color 100%);
      bottom: 0;
      content: '';
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }

  &-block {
    display: flex;
    justify-content: space-between;
    max-height: 450px;
    overflow: auto;
    position: relative;
    z-index: 2;

    &__top {
      margin-bottom: 48px;
    }

    &__all {
      margin-bottom: 20px;

      .cities-popup__list-column-item:last-of-type {
        padding-bottom: 20px;
      }
    }

    &__top-mobile {
      display: none;
    }
  }

  &-columns {
    flex: 1 0 0;
  }

  &-column {
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    padding: 0 25px 0 0;
    vertical-align: top;
    width: 160px;
  }

  &-column-item {
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &__letter {
      font-family: $futura-demi-font-family;
      padding-left: 15px;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &-link {
    color: $black-color;
    background-color: transparent;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    position: relative;
    padding: 7px 9px 8px 15px;
    transition: $default-bg-transition;
    letter-spacing: 0.16px;

    &:hover {
      background-color: $white-color-2;
    }

    i {
      color: $grey-color-1;
      font-size: 13px;
      font-style: normal;
      margin: 0 0 0 2px;
    }

    &.m-loading {
      color: transparent;
      cursor: default;
      pointer-events: none;
      -webkit-tap-highlight-color: transparent;
      user-select: none;

      i {
        color: transparent;
      }

      &:after {
        animation: animate-loader 1s ease-in-out 0s infinite;
        background: url(make-absolute-path('images/loader.png')) no-repeat 50% 50%;
        background-size: 17px 17px;
        content: '';
        display: block;
        height: 17px;
        left: 15px;
        position: absolute;
        top: 9px;
        width: 17px;
      }
    }
  }
}

@media all and (max-width: $switch-to-mobile-width) {
  .cities-popup {
    &.featherlight {
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;

      .featherlight-content {
        left: 0;
        top: 40px !important;
        width: 100%;
        bottom: 0;
        padding-bottom: 50px;
        position: absolute;
      }

      .featherlight-inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &__inner {
      padding: 32px $paddings-16;
    }

    &__title {
      font-size: 20px;
      margin: 50px 0 0;
      padding-bottom: 26px;
    }

    &__list {
      overflow: auto;
      position: absolute;
      top: 138px;
      bottom: 0;
      left: $paddings-16;
      right: $paddings-16;
      padding-top: 10px;
      z-index: 1;

      &-link {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;

        &.m-loading:after {
          top: 12px;
        }

        i {
          float: right;
          font-size: 18px;
        }
      }

      &-block {
        display: block !important;
        overflow: visible;
        max-height: none;

        &__top {
          display: none !important;
        }

        &__top-mobile {
          display: block;

          .cities-popup__list-column-item:after {
            display: none;
          }
        }
      }

      &-column {
        &-item {
          font-size: 20px;
          line-height: 20px;
          position: relative;

          &__letter {
            height: 32px;
            width: 32px;
            line-height: 31px;
            background: $black-color;
            border-radius: 50%;
            pointer-events: none;
            color: $white-color;
            text-align: center;
            margin: 24px 0 9px 15px;
            padding: 0;

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }

    &__actions {
      display: none;
    }

    &-search {
      &__search-field {
        margin-bottom: 14px;
        height: 48px;
        line-height: 48px;
        font-size: 18px;
      }
    }

    .popup-close {
      background: $black-color-3;
      border-radius: 2px;
      height: 5px;
      opacity: 0.25;
      right: 50%;
      top: 8px;
      transform: translateX(20px);
      width: 40px;
    }

    &__auto-check__mobile {
      display: block;
      z-index: 2;
    }
  }

  .featherlight-inner {
    height: 100%;
  }
}
